<style>
    .row {
        margin: 0 0 5px 0;
    }
</style>
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header" ng-cloak>
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">
                    <span>{{type=='add'?'新增':(type=='modify'?'更新':'查看')}}行政区域</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="form" class="form-horizontal" role="form">
                    <div class="row">
                        <div class="form-label col-1-half">
                            <label>名称:</label>
                        </div>
                        <input type="text" class="col-4-half" ng-model="region.name" placeholder="请输入行政区域名称"
                               validate validate-required validate-max-length="40"/>

                        <div class="form-label col-1-half">
                            <label>拼音:</label>
                        </div>
                        <input type="text" class="col-4" ng-model="region.pinyin" validate validate-maxlength="40"/>

                    </div>
                    <div class="row">
                        <div class="form-label col-1-half">
                            <label>电话区号:</label>
                        </div>
                        <input type="text" class="col-4-half" ng-model="region.code" validate
                               validate-options="checkCode"/>
                        <div class="form-label col-1-half">
                            <label>负责人:</label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="col-12" ng-model="region.masterName" readonly
                                   placeholder="点击选择负责人"
                                   ng-click="pickMaster();"/>
                            <span class="add-on"><i class="icons icon fork" ng-click="clearMaster();"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-label col-1-half">
                            <label validate-error="form.type">类型:</label>
                        </div>
                        <select ng-model="region.type" class="col-4-half"
                                ng-options="foo.code as foo.name for foo in types" validate validate-required
                                name="type"></select>

                        <div class="form-label col-1-half">
                            <label>邮编:</label>
                        </div>
                        <input type="text" class="col-4" ng-model="region.zipcode" validate validate-zipcode/>
                    </div>
                    <div class="row">
                        <div class="form-label col-1-half">
                            <label>上级区域:</label>
                        </div>
                        <div class="pr col-4-half">
                            <input type="text" class="col-12" ng-model="region.parentName"
                                   ztree-single="ztreeOptions"/>
                            <span class="add-on">
                                <i class="icons circle_fork icon" title="删除" ng-click="clearParent();"></i>
                            </span>
                        </div>

                        <div class="form-label col-1-half">
                            <label>显示顺序:</label>
                        </div>
                        <input type="number" class="col-4" ng-model="region.sequenceNo" maxlength="3" validate
                               validate-required validate-int validate-max-value="999"/>
                    </div>

                    <div class="row">
                        <div class="form-label col-1-half">
                            <label>说明:</label>
                        </div>
                        <textarea rows="6" class="col-10" ng-model="region.description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer" ng-cloak>
                <button type="button" class="btn btn-default btn-primary" ng-if="type=='add'" ng-click="save();"
                        ng-disabled="!form.$valid">保存
                </button>
                <button type="button" class="btn btn-default btn-primary" ng-if="type=='add'" ng-click="save(true);"
                        ng-disabled="!form.$valid">保存并新建
                </button>
                <button type="button" class="btn btn-default btn-primary" ng-if="type=='modify'" ng-click="update();"
                        ng-disabled="!form.$valid">更新
                </button>
                <button type="button" class="btn btn-default" ng-click="$hide()">关闭</button>
            </div>
        </div>
    </div>
</div>