<style >
    .aside-backdrop.am-fade {
        background: none;
    }

    .aside-body table tr td {
        border-right: 1px solid #DDDDDD;
    }
</style >
<div class="aside" tabindex="-1" role="dialog" style="top:auto;bottom:24px;border:1px solid #e5e5e5;" >
    <div class="aside-dialog" >
        <div class="aside-content" >
            <div class="aside-header" style="padding: 1px 15px;" >
                <button type="button" class="close" ng-click="$hide()" >&times;</button >
                <h4 class="aside-title" >待办事项</h4 >
            </div >
            <div class="aside-body" style="min-height: 80px;padding:0;max-width: 400px; width: 400px;height: 300px;">
                <div class="table-responsive panel panel-table" >
                    <table class="table table-striped table-hover last-tr-bottom-border" >
                        <thead class="table-header" >
                        <tr >
                            <td >内容</td >
                            <td style=" width: 10px; white-space: nowrap;text-align: center;vertical-align: middle;">
                                时间
                            </td>
                        </tr >
                        </thead >
                        <tbody class="table-body" ng-cloak >
                        <tr ng-show="data.length == 0" >
                            <td colspan="2" class="text-center" >没有新任务！</td >
                        </tr >
                        <tr ng-repeat="foo in data" >
                            <td><a title="查看事项" target="iframe" style="cursor: pointer;text-decoration: none;"
                                   ng-href="assignedTask/{{'1211212asasas'}}/detail">{{ foo.content }}</a></td>
                            <td >{{ foo.executeDate | eccrmDatetime }}</td >
                        </tr >
                        </tbody >
                    </table >
                </div >
            </div >
        </div >
    </div >
</div >