<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/context
   	http://www.springframework.org/schema/context/spring-context-3.0.xsd
   	http://www.springframework.org/schema/mvc   
   	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <!-- 开启自动扫描 -->
    <context:component-scan base-package="com.michael.**.web"/>
    <!-- 开启注解模式 -->
    <mvc:annotation-driven/>


    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 最大50MB，这些属性可以在CommonsMultipartResolver类的源码中进行查找 -->
        <property name="maxUploadSize" value="50000000"/>
        <property name="defaultEncoding" value="utf-8"/>
    </bean>
    <!-- 静态资源,一定是以/结束 -->

    <!-- 设置前缀和后缀，用来拼装成要访问的路径= prefix+view+suffix -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/app/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>