<style>
    .modal-body form > .row {
        padding-left: 80px;
    }
</style>
<div class="modal" tabindex="-1" role="dialog" style="z-index: 10000">
    <div class="modal-dialog" style="width: 550px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">
                    <span>日期计算</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="form" class="form-horizontal">
                    <div class="row">
                        <div class="float w300">
                            <div class="form-label w100">
                                <label>日期:</label>
                            </div>
                            <div class="pr w200">
                                <input class="w200" type="text" ng-model="date" validate validate-required
                                       placeholder="请输入日期"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="float w300">
                            <div class="form-label w100">
                                <label>系数Fn:</label>
                            </div>
                            <div class="w200" style="position: relative;">
                                <input class="w200" type="text" ng-model="fn" validate validate-required maxlength="2"
                                       placeholder="请输入Fn系数"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="float w300">
                            <div class="form-label w100">
                                <label>常量:</label>
                            </div>
                            <div class="w200" style="position: relative;">
                                <input class="w200" type="text" ng-model="p" validate validate-required disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="float w300">
                            <div class="form-label w100">
                                <label>计算结果:</label>
                            </div>
                            <div class="w200 sl" ng-cloak>
                                {{ result|eccrmDate }}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-cloak class="btn btn-primary" ng-click="ok();" ng-disabled="form.$invalid">计算
                </button>
                <button type="button" class="btn btn-default" ng-click="$hide()">取消</button>
            </div>
        </div>
    </div>
</div>

