<div class="row" style="position: relative;" ng-cloak ng-show="selectAnyNode">
    <div style="height: 30px;position: absolute;top:0;z-index: 99;background-color: #ffffff;" >
        <button class="btn btn-blue" style="margin-left: 5px;" ng-click="selectAll();" >全选</button >
        <button class="btn btn-blue" style="margin-left: 5px;" ng-click="selectReverse();" >反选</button >
        <button class="btn btn-blue" style="margin-left: 5px;" ng-click="clearAll();" >清空</button >
        <button class="btn btn-blue" style="margin-left: 5px;" ng-click="save();" >保存授权</button >
    </div >
</div >
<div id="accreditMenu" class="row panel panel-tree" style="margin-top:25px;" >
    <div class="tree" style="border: 0;border-right:1px solid #dddddd;width: 100%;padding-left: 15px;" >
        <div class="tree-content" >
            <ul class="ztree" ></ul >
        </div >
    </div >
</div >